In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Loan Eligibility.csv")
dataset

   Customer ID  Age  Income  Loan Amount  Interest Rate
0            1   30   50000        10000             10
1            2   40   60000        15000             12
2            3   50   70000        20000             14
3            4   25   40000         8000              8
4            5   35   55000        12000             10
5            6   45   65000        16000             12
6            7   55   75000        20000             14
7            8   20   35000         7000              8
8            9   30   45000         9000             10
9           10   40   55000        11000             12

In [3]:
dataset.columns

Index(['Customer ID', 'Age', 'Income', 'Loan Amount', 'Interest Rate'], dtype='object')

In [4]:
independent=dataset[['Customer ID', 'Age', 'Income', 'Interest Rate']]
independent

   Customer ID  Age  Income  Interest Rate
0            1   30   50000             10
1            2   40   60000             12
2            3   50   70000             14
3            4   25   40000              8
4            5   35   55000             10
5            6   45   65000             12
6            7   55   75000             14
7            8   20   35000              8
8            9   30   45000             10
9           10   40   55000             12

In [5]:
dependent=dataset[['Loan Amount']]
dependent

   Loan Amount
0        10000
1        15000
2        20000
3         8000
4        12000
5        16000
6        20000
7         7000
8         9000
9        11000

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [7]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
weight=regressor.coef_
weight

array([[ 1.04166667e+02, -1.33333333e+02,  5.83333333e-01,
        -8.85416667e+02]])

In [9]:
bais=regressor.intercept_
bais

array([-5333.33333333])

In [10]:
y_pred=regressor.predict(x_test)

In [11]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [12]:
r_score

0.7893041237113207

In [13]:
import pickle
filename="finalzed_model_Multiplelinear.sav"

In [14]:
pickle.dump(regressor,open(filename,'wb'))
loaded_model=pickle.load(open("finalzed_model_Multiplelinear.sav",'rb'))
result=loaded_model.predict([[15,36,67000,21]])

In [15]:
result

array([[11918.75]])